<div class="home-container">
    <div class="row">
        <div class=col-sm-6 align="center">
            <img class="img-responsive" src="<%-data.building.img%>" alt="<%-data.building.title%>">
        </div>

        <div class=col-sm-6>

            <div class="info" align="center" style="display: table; overflow: hidden;">
                <div style="display: table-cell; vertical-align: middle;">
                    <h1><%-data.building.title%></h1>
                </div>
            </div>
            <div class="info" align="center" style="display: table; overflow: hidden;">
                <div style="display: table-cell; vertical-align: middle;">
                    <p><%-data.building.desc%></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>Upcoming</h1>
        <table class="table-responsive table table-striped table-hover">
            <tbody>
            <tr>
                <td>Nov 13</td>
                <td>Miss Celina (apt 20) anniversary</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>