<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#search">Combarter</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li data-menu='home' class="active"><a href="#home"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                    <!--<li data-menu="search"><a href="#search">Find My Building</a></li>-->
                    <li data-menu="carpool"><a href="#carpool"><i class="glyphicon glyphicon-map-marker"></i> Carpool</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li data-menu="profile"><a href="#profile"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
                    <li data-menu="notifications"><a href="#notifications"><i class="glyphicon glyphicon-envelope"></i> Notifications</a></li>
                    <li data-menu="logout"><a href="#search"><i class="glyphicon glyphicon-share"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content"></div>
</div>